.idea
.venv

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Python
__pycache__/
*.py[cod]

# Not part of the deliverable
pyproject.toml
case_study.txt
infra/terraform/.terraform.lock.hcl
